<%include partials/header %>

<div class="container">
	<div class="row">
	<div class="col-lg-6">	
	<h1 class="bg-danger"> OOPS!!! No Such Item Found!!! </h1>
	<img src="images/error.png" class="img-responsive">
	<a href="/searchForm" class="btn btn-info">Back</a>
	</div>
	</div>
</div>
